<!DOCTYPE html>
<html lang="<%= t("hyrax.document_language", default: '') %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>

  <body class="<%=params[:controller]%>_<%= params[:action]%>">
    <div class="skip-to-content">
      <%= link_to "Skip to Content", "#skip-to-content", data: { turbolinks: false } %>
    </div>
    <%= render '/masthead' %>
    <%= content_for(:navbar) %><!-- content for navbar -->
    <%= content_for(:precontainer_content) %><!-- content for precontainer_content -->
	<% if params[:controller].include? "homepage" %>
		<div class="lightbox">
		  <%= render '/flash_msg' %>
		  <div class="jumbotron">
	      <div>
				  	<%= render 'hyrax/homepage/announcement' if controller_name == 'homepage' %>
				</div>
		    <div class="container">
		      <div class="row">
		        <div class="col-md-6 search-browse">
		          <%= render_search_bar %>
				  <div class="collections-container">
					<%= render 'home_browse_by', collections: @presenter.collections %>
				  </div>
				</div>
			    <div class="col-md-6">
	        	  <p class="overview">The AGRA Knowledge Management System provides access to private AGRA documents.</p>
							<%= render "hyrax/homepage/marketing" if controller_name == 'homepage' %>
			    </div>
		      </div>
		    </div>
		  </div>
		 </div>
	<% end %>
    <div id="content-wrapper" class="container" role="main">
      <% if !params[:controller].include? "homepage" %> <%= render '/flash_msg' %> <%end%>
      <%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>
      <% if content_for?(:page_header) %>
        <div class="row">
          <div class="col-xs-12 main-header">
            <%= yield(:page_header) %>
          </div>
        </div>
      <% end %>

        <a name="skip-to-content" id="skip-to-content"></a>
		<!-- start content for content -->
        <%= content_for?(:content) ? yield(:content) : yield %>
		<!-- end content for content -->

    </div><!-- /#content-wrapper -->
    <%= render 'shared/footer' %>
    <%= render 'shared/ajax_modal' %>
  </body>
</html>
